.animate-check {
  animation: draw-check 200ms ease-out forwards;
}

.animate-check-reverse {
  animation: draw-check 200ms ease-out reverse forwards;
}

@keyframes draw-check {
    to {
        stroke-dashoffset: 0;
    }
}
